
/* WORKERA */
.hero-logo {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 6%;
    flex: 1;
  }

  .hero-header {
    display: flex;
    height: 100%;
  }

  .header-links {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    right: 1em;
    top: 3.5em;
    transition: max-height 0.25s ease-out;
  }

  .header-links.open {
    max-height: 20em;
  }
  
  .header-link {
    display: flex;
    align-items: center;
  }

  .header-link a {
    font-style: normal;
    font-size: 0.9rem;
    line-height: 15px;
    margin-right: 4rem;
    /* identical to box height */

    z-index: 100;
    text-decoration: none;
    letter-spacing: 0.0347222px;

    color: #231f20;
    padding: 0.5em;
    display: block;
  }

  .blog-header-link {
    color: black;
    font-size: 1.1rem;

    display: inline-block;
    padding: .2rem;
    border-left: 1px solid black;
    height: 100%;
    margin-left: 1.5rem;
    text-decoration: none;
    padding-left: .5rem;
  }

  .header-links {
    margin-right: 8%;
  }

  .logo {
    margin-left: 51%;
    margin-top: .7rem;
    margin-bottom: .7rem;
    width: 200px;
    margin-left: 11%;
  }

  .header-links .sign-up {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 2.3rem;
    padding-right: 2.3rem;
    display: block;
    /* identical to box height */
  }

  .hero-wrapper-header {
    width: 100%;
    background: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .header-links .sign-up {
    padding: .7rem 2.3rem;
    display: block;
  }

  .blue-btn {
    background: #009fcc;
    color: #fff;
    line-height: 2rem;
    text-align: center;
    padding: .8rem 2rem;
  }

  a.sign-up {
      text-decoration: none;
  }

  /*********
  FOOTER
  ***********/
  .landing-footer {
    display: flex;
    padding-top: 5rem;
    padding-bottom: 9rem;
    align-items: baseline;
    color: #322f4d;
    flex-wrap: wrap;
  }

  .landing-footer a {
    color: rgba(0, 0, 0, 0.6);
    border-color: rgba(0, 0, 0, 0.6);
  }

  .landing-footer > div {
    font-size: 1.1rem;
    font-weight: 500;
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    color: #322f4d;
    padding-left: 4rem;
    margin-top: 2rem;
  }

  .a-little-bold {
    font-weight: 600;
  }

  .footer-wrapper {
    background: #eef2f8;
  }

  .footer-title > div:first-child {
    font-weight: 600;
    font-size: 1.7rem;
  }

  .footer-title > div:last-child {
    font-size: 1rem;
  }

  .footer-follow-us > div:last-child {
    display: flex;
    margin-top: 1rem;
  }

  .footer-follow-us img {
    width: 30px;
    height: 30px;
    margin: 0.2rem;
  }

  /********
  * Try now
  ***********/
  .try-section {
    width: 100%;
    height: 100%;
    color: black !important;
    background: #F9CD46;
    background-size: 100% 110%;
  }

  .try-section-mobile {
    background-size: 400% 120%;
  }

  .dual-call-to-action {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 75;
    background-color: #F9CD46;
  }

  .dual-call-to-action > div {
    flex: 1;
  }

  .action-card {
    box-shadow: 0px 0px 15px rgba(42, 39, 63, 0.15);
    padding: 8%;
    background: white;
    line-height: 2rem;
    min-width: 240px;
  } 

  .action-title {
    padding-left: 0; 
    font-size: 2rem; 
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .action-description {
    font-size: 1.7rem;
    color: #000000;
    min-height: 6rem;
  }

  .extended {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
  }

  .btn {
      display: inline-block;
      vertical-align: middle;
      user-select: none;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .footer-wrapper a {
      text-decoration: none;
  }

  .yellow-btn {
    background: #F9CD46;
    text-align: center;
    color: black;
    line-height: 3rem;
    border-radius: 4px;
    border: none;
    display: inline-block;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 0.5rem 2rem 0.5rem 2rem;
  }
  
  .yellow-btn:focus,
  .yellow-btn:hover {
    background: #F9CD46;
    text-decoration: none;
    color: black;
  }
  
  .black-btn {
    background: black;
    text-align: center;
    color: white;
    line-height: 3rem;
    border-radius: 4px;
    border: none;
    display: inline-block;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 0.5rem 2rem 0.5rem 2rem;
  }
  
  .black-btn:focus,
  .black-btn:hover {
    background: black;
    text-decoration: none;
    color: white;
  }

  .dark-blue-btn {
    background: #005066;
    text-align: center;
    color: white;
    line-height: 3rem;
    border-radius: 4px;
    border: none;
    display: inline-block;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 0.5rem 2rem 0.5rem 2rem;
  }
  
  .dark-blue-btn:focus,
  .dark-blue-btn:hover {
    background: #005066;
    text-decoration: none;
    color: white;
  }
  
/* On screens larger than 35em, remove the menu link and display all menu items */
@media screen and (min-width: 1250px) {
  .header-links {
    overflow: auto;
    max-height: inherit; 
    position: static;
    display: flex;
    align-items: center;
    background-color: transparent;
  }

  .header-link {
    display: flex;
    align-items: center;
    vertical-align: center;
  }

  .header-link:last-child {
    border: 0;
  }
}


@media screen and (min-width: 600px) {
  .dual-call-to-action {
      max-width: 2000px;
  }

}